.tkbcontainer {
    background: linear-gradient(#f3f4f5, #f2f6f9);
    padding: 20px;
    height:540px;
    border-radius: 15px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tkbform-container {
    text-align: center;
}

.week-header {
    margin-bottom: 5px;
    margin-top: 1px;
}

.tkbschedule-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 100%;
}

.day {
    background: linear-gradient(#88D5F4, #4297DE);
    /* Màu nền cho khung */
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
}

.day h3 {
    color: #f3f6f9;
    margin: 0;
}

.nav-arrows {
    margin-top: 20px;
    color:#4297DE;
}

.arrow {
    cursor: pointer;
    font-size: 36px;
    color: #3889c7;
}
